<div class="modal-body">
    <div class="form-area">

        <form id="edit_form" name="edit_form" autocomplete="off" >

            <div class="row">
                <!-- <div class="col-md-6">
                        <div class="form-group">
                                <label class="filter-col" for="ParentCategory">Game Type </label>
                                <select id="IsPaid" ng-model="formData.GameType" name="GameType" class="form-control chosen-select" ng-change="getTimeEdit(formData.GameType)">
                                        <option value="">Please Select</option>
                                        <option value="Advance"  ng-selected="formData.GameType=='Advance' ? 'true' : 'false' ">Advance Play</option>
                                        <option value="Safe"  ng-selected="formData.GameType=='Safe' ? 'true' : 'false' ">Safe Play</option>
                                </select>
                        </div>
                </div> -->

                <input type="hidden" id="IsPaid" ng-model="formData.GameType" name="GameType" value="formData.GameType">
                <input type="hidden" name="GameTimeLive" id="GameTimeLive" ng-model="formData.GameTimeLive" value="formData.GameTimeLive">

                <!-- <div class="col-md-6">
                        <div class="form-group">
                                <label class="control-label">Game Live Time </label>
                                <input name="GameTimeLive" id="GameTimeLive" ng-model="formData.GameTimeLive" type="text" class="form-control numeric"  readonly>
                                <small>Set Game time in minutes, game going to live before actual live time.</small>
                        </div>
                </div> -->

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Contest Name</label>
                        <input name="ContestName" ng-model="formData.ContestName" type="text" class="form-control" placeholder="Contest Name" value="{{formData.ContestName}}"  maxlength="40">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Series</label>
                        <p>{{formData.SeriesName}}</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Match</label>
                        <p>{{formData.TeamNameLocal}} <strong>v/s</strong> {{formData.TeamNameVisitor}}</p>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Is Paid Contest?</label>
                        <select id="IsPaid" ng-model="formData.IsPaid" name="IsPaid" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes" ng-selected="formData.IsPaid == 'Yes' ? 'true' : 'false'" >Yes</option>
                            <option value="No" ng-selected="formData.IsPaid == 'No' ? 'true' : 'false'"  >No</option>

                        </select>
                        <small>Select this option notifiy that contest is free or paid.</small>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Contest Format</label>
                        <select id="ContestFormat" ng-model="formData.ContestFormat" name="ContestFormat" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Head to Head" ng-selected="formData.ContestFormat == 'Head to Head' ? 'active' : ''">Head to Head</option>
                            <option value="League" ng-selected="formData.ContestFormat == 'League' ? 'active' : ''">League</option>
                        </select>
                        <small></small>
                    </div>
                </div>

                <div class="col-md-3" ng-if="formData.ContestFormat != 'Head to Head'">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Pool Type</label>
                        <select id="UnfilledWinningPercent" name="UnfilledWinningPercent" ng-model="formData.UnfilledWinningPercent" class="form-control chosen-select" ng-change="changeUnfilledWinningPercent(UnfilledWinningPercent)">
                            <option value="">Please Select</option>
                            <option value="GuranteedPool">Infinity Pool</option>
                            <option value="Fixed">Normal</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="WinningType" ng-model="WinningType" value="Free Join Contest">
                <div class="col-md-3" ng-if="formData.ContestFormat != 'Head to Head' && formData.UnfilledWinningPercent == 'GuranteedPool'">
                    <div class="form-group">
                        <label class="control-label">Winning Percent (%)</label>
                        <input name="WinningRatio" ng-model="formData.WinningRatio" type="text" class="form-control numeric" value="2" >
                    </div>
                </div>

                <div class="col-md-3" ng-if="formData.ContestFormat != 'Head to Head' && formData.UnfilledWinningPercent == 'GuranteedPool'">
                    <div class="form-group">
                        <label class="control-label">Win Up To</label>
                        <input name="WinUpTo" ng-model="WinUpTo" type="text" maxlength="3" class="form-control numeric" ng-change="calculateWinningAmount(WinUpTo)">
                    </div>
                </div>

                <div class="col-md-3" ng-if="formData.UnfilledWinningPercent != 'GuranteedPool' && formData.SmartPool == 'No'">
                    <div class="form-group">
                        <label class="control-label">Winning Amount</label>
                        <input name="WinningAmount" ng-model="custom.WinningAmount" placeholder="Winning Amount" type="text" class="form-control numeric" value="{{formData.WinningAmount}}" >
                    </div>
                </div>

                <div class="col-md-3" ng-if="formData.ContestFormat != 'Head to Head' && formData.UnfilledWinningPercent == 'Fixed'">
                    <div class="form-group">
                        <label class="control-label">Contest Size</label>
                        <input name="ContestSize" ng-model="custom.ContestSize" type="text" class="form-control integer"  >
                    </div>
                </div>

                <input type="hidden" name="ContestSize" ng-if="formData.ContestFormat == 'Head to Head'" ng-model="custom.ContestSize" value="2">

                <div class="col-md-3" ng-if="formData.IsPaid == 'Yes' && formData.SmartPool == 'No'">
                    <div class="form-group">
                        <label class="control-label">Admin Percentage (%)</label>
                        <input name="AdminPercent" ng-model="custom.AdminPercent" placeholder="Admin Charges in Percentage" type="text" class="form-control numeric" maxlength="3" value="{{formData.AdminPercent}}">
                    </div>
                </div>
                <div class="col-md-3" ng-if="formData.IsPaid == 'Yes'" ng-init="CashBonusContribution = 0" >
                    <div class="form-group">
                        <label class="control-label">Cash Bonus Contribution (%)</label>
                        <input name="CashBonusContribution" ng-model="formData.CashBonusContribution" placeholder="Cash Bonus Contribution in Percentage" type="text" class="form-control numeric" value="0" maxlength="3" ng-if="formData.IsPaid == 'Yes'">
                    </div>
                </div>


                <div class="col-md-3" ng-if="formData.IsPaid == 'Yes'" >
                    <div class="form-group">
                        <label class="control-label">Entry Fee</label>
                        <!-- <input name="EntryFee" ng-model="formData.EntryFee" type="text" placeholder="0" class="form-control numeric" value="{{EntryFee}}" maxlength="40" ng-if="formData.IsPaid=='Yes'" readonly> -->
                        <input name="EntryFee" ng-model="EntryFee.fee" type="text" placeholder="0" class="form-control numeric" value="{{EntryFee.fee}}" maxlength="40" ng-readonly="(formData.SmartPool == 'Yes' || formData.UnfilledWinningPercent == 'GuranteedPool') ? false : true">
                        <!-- <input name="EntryFee" ng-model="formData.EntryFee" type="text" placeholder="0" ng-init="EntryFee='0'" class="form-control numeric" value="{{EntryFee}}" maxlength="40" ng-if="formData.IsPaid=='No'" readonly> -->
                        <small><span ng-if="SmartCustom.SmartPool == 'No' && formData.UnfilledWinningPercent == 'GuranteedPool'">Total Distribution: {{WinUpTo + ' x ' + EntryFee.fee + '= ' + TotalDistribution}}</span></small>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Entry Type</label>
                        <select id="EntryType" name="EntryType" ng-model="formData.EntryType" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Single" ng-selected='formData.EntryType == "Single" ? "true" : "false"'>Single</option>
                            <option value="Multiple" ng-selected='formData.EntryType == "Multiple" ? "true" : "false"'>Multiple</option>
                        </select>
                        <small>Select yes for multiple and no for single.</small>
                    </div>
                </div>
                <div class="col-md-3" ng-if="formData.EntryType == 'Multiple'">
                    <div class="form-group">
                        <label class="control-label">Maximum Multiple Team Allowed</label>
                        <input name="UserJoinLimit" ng-model="formData.UserJoinLimit" placeholder="League Join Limit" type="text" class="form-control numeric" value="6">
                    </div>
                </div>



                <input type="hidden" name="ContestGUID" value="{{formData.ContestGUID}}">
                <input type="hidden" name="ShowJoinedContest" value="Yes">
                <input type="hidden" name="SmartPool" value="{{SmartCustom.SmartPool}}">

                <input ng-if="formData.ContestFormat == 'Head to Head'" type="hidden" name="ContestType" value="Head to Head" ng-model="formData.ContestType">

                <div class="col-md-3" ng-if="formData.ContestFormat != 'Head to Head'">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Contest Type</label>
                        <select id="ContestType" name="ContestType" ng-model="formData.ContestType" class="form-control chosen-select">
                            <option value="Hot" ng-selected='formData.ContestType == "Hot" ? "true" : "false"' >Hot</option>
                            <option value="Champion" ng-selected='formData.ContestType == "Champion" ? "true" : "false"' >Champion</option>
                            <option value="Practice" ng-selected='formData.ContestType == "Practice" ? "true" : "false"' >Practice</option>
                            <option value="More" ng-selected='formData.ContestType == "More" ? "true" : "false"' >More</option>
                            <option value="Mega" ng-selected='formData.ContestType == "Mega" ? "true" : "false"' >Mega</option>
                            <option value="Smart Pool" ng-selected='formData.ContestType == "Smart Pool" ? "true" : "false"' >Smart Pool</option>
                            <option value="Infinity Pool" ng-selected='formData.ContestType == "Infinity Pool" ? "true" : "false"' >Infinity Pool</option>
                            <option value="Winner Takes All" ng-selected='formData.ContestType == "Winner Takes All" ? "true" : "false"' >Winner Takes All</option>
                            <option value="Only For Beginners" ng-selected='formData.ContestType == "Only For Beginners" ? "true" : "false"' >Only For Beginners</option>
                        </select>
                        <small>Select yes for multiple and no for single.</small>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Confirm Contest</label>
                        <select id="IsConfirm" name="IsConfirm" ng-model="formData.IsConfirm" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes" ng-selected='formData.IsConfirm == "Normal" ? "true" : "false"' >Yes</option>
                            <option value="No" ng-selected='formData.IsConfirm == "Normal" ? "true" : "false"' >No</option>
                        </select>
                        <small>Select yes for multiple and no for single.</small>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Is Auto Create ?</label>
                        <select id="IsAutoCreate" name="IsAutoCreate" ng-model="formData.IsAutoCreate" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                        <small>Select yes option to auto create same contest, If joining limit is over.</small>
                    </div>
                </div>
                <div class="col-md-3" ng-if="formData.ContestFormat != 'Head to Head' && formData.UnfilledWinningPercent != 'GuranteedPool'">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Is Safe mode User Joined?</label>
                        <select id="IsVirtualUserJoined" name="IsVirtualUserJoined" ng-model="formData.IsVirtualUserJoined" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3" ng-if="formData.ContestFormat != 'Head to Head' && formData.UnfilledWinningPercent != 'GuranteedPool'">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Safe mode User Joined Percentage</label>
                        <input name="VirtualUserJoinedPercentage"  ng-model="formData.VirtualUserJoinedPercentage" type="text" placeholder="0" class="form-control" value="" >
                    </div>
                </div>
                <!-- <div class="col-md-3">
                        <div class="form-group">
                                <label class="filter-col" for="ParentCategory">Show Joined Users</label>
                                <select id="ShowJoinedContest" name="ShowJoinedContest" ng-model="formData.ShowJoinedContest" class="form-control chosen-select">
                                        <option value="">Please Select</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                </select>
                                <small>Select option to notify joined user in contests.</small>
                        </div>
                </div> -->
                <div style="color:red" ng-show="winningamount_error">*Please enter winning amount first.</div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group" ng-if="formData.IsPaid == 'Yes' && formData.UnfilledWinningPercent == 'Fixed'">
                        <label class="filter-col" for="ParentCategory">Customize Winnings</label>
                        <!-- <input type="checkbox" ng-model="custom.winnings" ng-click="customizeWin()" > -->
                    </div>
                </div>
            </div>
            <div class="row" ng-show="showContestSize" ng-if="formData.SmartPool == 'No' && formData.UnfilledWinningPercent == 'Fixed'">
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" name="NoOfWinners" ng-model="custom.NoOfWinners" ng-change="changeWinners()" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm" ng-click="Showform()" >Set</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="creatcontast_list">
                        <p><b>Remaining Percent :</b> {{remainingPercentage}}</p>
                        <table style="width: 100%; ">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Winning %</th>
                                    <th>Winning Amount</th>
                                    <th><button class="btn btn-submit" type="button" ng-click="addField()" >+</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in custom.choices">
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <label>From</label><select class="form-control" ng-model="r.From" ng-options="number for number in r.numbers" ng-selected="" disabled="true"></select>
                                                </td>
                                                <td>
                                                    <label>To</label><select class="form-control"  ng-init="DataForm.To = r.numbers[0]" ng-change="changePercent($index); Check($index);" ng-model="r.To" ng-options="number for number in r.numbers"></select>
                                                </td>
                                                <td style="width: 50px;" >
                                                    <label>Winners</label>
                                                    <input type="text" value="{{r.To}}" class="form-control" readonly="true">  
                                                </td>
                                            </tr>
                                        </table>


                                    </td>
                                    <td>
                                        <label>Percent</label> <input type="text" ng-model="r.percent" name="percent" class="form-control" ng-change="changePercent($index)" valid-number>
                                    </td>
                                    <td><label>Amount</label> <input type="text" class="form-control" ng-model="r.amount"></td>
                                    <td><button type="button" class="btn btn-submit" ng-click="removeField($index)">-</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div style="color:red" ng-show="percent_error">*Percent field is required</div>
                    <div style="color:red" ng-show="calculation_error">*{{calculation_error_msg}}</div>

                </div>
            </div>
            <div class="row" ng-show="showContestSize" ng-if="formData.SmartPool == 'Yes'">
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" name="NoOfWinners" ng-model="custom.NoOfWinners" ng-change="changeWinners()" >
                    </div>
                </div>
                <div class="col-md-2"  >
                    <div class="form-group">
                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm" ng-click="Showform()" >Set</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="creatcontast_list" ng-show="showField">
                        <table style="width: 100%; ">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Prize</th>
                                    <th>Image</th>
                                    <th><button class="btn btn-submit" type="button" ng-click="addField()" >+</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in custom.choices">
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <label>From</label><select class="form-control" ng-model="r.From" ng-options="number for number in r.numbers" ng-selected="" disabled="true"></select>
                                                </td>
                                                <td>
                                                    <label>To</label><select class="form-control"  ng-init="DataForm.To = r.numbers[0]" ng-change="changePercent($index)" ng-model="r.To" ng-options="number for number in r.numbers"></select>
                                                </td>
                                                <td style="width: 50px;" >
                                                    <label>Winners</label>
                                                    <input type="text" value="{{(r.To - r.From) + 1}}" class="form-control" readonly="true">  
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <label>Name</label>
                                        <select name="ProductGUID" ng-model="r.CategoryGUID" class="form-control" ng-change="getCategoryImage(r.CategoryGUID, $index)">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="subCat in data.categoryList" value="{{subCat.CategoryGUID}}">{{subCat.CategoryName}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <img ng-src="{{r.ProductUrl}}" id="ProductImage{{$index}}" style="max-width: 100px;">
                                    </td>
                                    <td><button type="button" class="btn btn-submit" ng-click="removeField($index)">-</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div style="color:red" ng-show="percent_error">*Percent field is required</div>
                    <div style="color:red" ng-show="calculation_error">*{{calculation_error_msg}}</div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="editData()">Save</button>
</div>


